/* 头部导航和logo*/

#header_nav {
    min-width: 1200px;
    height: 36px;
    background-color: #2e2828;
    font-size: 12px;
}

.container {
    width: 1200px;
    // height: 36px;
    margin: 0 auto;
}

@mixin style1 {
    background: url(../img/icon-common.svg) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -71px 0;
    position: absolute;
    top: 13px;
    right: 2px;
}

@mixin style2 {
    background: url(../img/icon-common.svg) no-repeat;
    width: 14px;
    height: 14px;
    background-position: -85px 0;
    position: absolute;
    top: 13px;
    right: 2px;
}

@mixin style_nav($w) {
    dl {
        display: none;
        position: absolute;
        top: 36px;
        right: 0px;
        z-index: 99;
        dt {
            width: $w;
            text-align: center;
            background-color: #ffffff;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
            color: #666;
        }
        .last {
            border-radius: 0 0 8px 8px;
        }
    }
}

@mixin style_nav2 {
    dl {
        display: block;
        dt:hover {
            color: #cf0a2c;
            cursor: pointer;
        }
    }
}

@mixin style_foot($x, $y) {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/icon-footer.svg) no-repeat;
    width: 40px;
    height: 40px;
    background-position: $x $y;
}

.nav {
    display: flex;
    line-height: 36px;
    justify-content: space-between;
    .left {
        display: flex;
        li {
            padding: 0 8px;
            position: relative;
        }
        li:before {
            content: '';
            width: 1px;
            height: 10px;
            display: block;
            position: absolute;
            top: 13px;
            left: 0;
            background-color: #414141;
        }
    }
    .right {
        display: flex;
        li {
            padding: 0 8px;
            position: relative;
        }
        li:before {
            content: '';
            width: 1px;
            height: 10px;
            position: absolute;
            top: 13px;
            left: 0;
            background-color: #414141;
        }
        .serve {
            padding-right: 18px;
            position: relative;
            span {
                @include style1;
            }
            @include style_nav(74px);
        }
        .serve:hover span {
            @include style2;
        }
        .serve:hover {
            background-color: #fefefe;
            a {
                color: #cf0a2c;
            }
            @include style_nav2;
        }
        .serve:hover:before {
            display: none;
        }
        .net_nav {
            padding-right: 18px;
            position: relative;
            // @include style_nav(300px);
            span {
                @include style1;
            }
            .net_d {
                position: absolute;
                top: 36px;
                right: 0;
                width: 500px;
                // height: 400px;
                background-color: #fff;
                z-index: 99;
                padding: 20px;
                border-radius: 0 0 10px 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                display: none;
                dl {
                    float: left;
                    margin: 0 30px;
                    dt {
                        font-size: 18px;
                        font-weight: bold;
                        color: #333;
                    }
                }
            }
        }
        .net_nav:hover .net_d {
            display: block;
            dl dd:hover {
                color: #cf0a2c;
                cursor: pointer;
            }
        }
        .net_nav:hover span {
            @include style2;
        }
        .net_nav:hover {
            background-color: #fefefe;
            a {
                color: #cf0a2c;
            }
            @include style_nav2;
        }
        .net_nav:hover::before {
            display: none;
        }
        .phone_v {
            padding-right: 18px;
            span {
                @include style1;
            }
        }
        .phone_v:hover span {
            @include style2;
        }
        .phone_v:hover {
            background-color: #fefefe;
            a {
                color: #cf0a2c;
            }
        }
        .phone_v:hover::before {
            display: none;
        }
    }
}

.nav .left li:nth-of-type(1) {
    padding-left: 0;
}

.nav .left .more span {
    @include style1;
}

.nav .left .more {
    padding-right: 18px;
    position: relative;
    @include style_nav(120px);
}

.nav .left .more:hover {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    a {
        color: #cf0a2c;
    }
    @include style_nav2;
}

.nav .left .more:hover::before {
    display: none;
}

.nav .left .more:hover span {
    @include style2;
}

.nav .right li:nth-of-type(1) {
    padding-left: 0;
}

#header_logo {
    background-color: #fff;
    min-width: 1200px;
    height: 40px;
    padding: 18px 0 16px;
    .logo_wrap {
        display: flex;
        justify-content: space-between;
        line-height: 36px;
        .left {
            a {
                color: #2e2828;
            }
            display: flex;
            .m1 {
                height: 36px;
                width: 205px;
            }
            .m2 {
                width: 74px;
                height: 24px;
                margin-left: 22px;
                margin-left: 20px;
                margin-right: 12px;
            }
            .m3 {
                width: 74px;
                height: 24px;
                margin: 0 12px;
            }
            span {
                margin: 0 12px;
                a:hover {
                    color: #cf0a2c;
                }
            }
        }
        .right {
            display: flex;
            position: relative;
            .m40 {
                position: absolute;
                top: 0;
                right: 86px;
                font-size: 12px;
                line-height: 30px;
            }
            .m40:hover,
            .r30:hover {
                color: #2e2828;
            }
            .r30 {
                position: absolute;
                top: 0;
                right: 36px;
                font-size: 12px;
                line-height: 30px;
            }
            .search {
                height: 30px;
                width: 190px;
                background-color: #eee;
                border: 0;
                border-radius: 15px 0 0 15px;
                padding-left: 15px;
            }
            .search:focus+.m40 {
                display: none;
            }
            .search:focus+.m40+.r30 {
                display: none;
            }
            // .search:hover {
            //     border: 1px solid #ccc;
            //     border-right: 0;
            // }
            .sub {
                height: 30px;
                width: 35px;
                background-color: #eee;
                border: 0;
                border-radius: 0 15px 15px 0;
            }
            // .sub:hover {
            //     border: 1px solid #ccc;
            //     border-left: 0;
            // }
            span {
                position: absolute;
                top: 5px;
                right: 10px;
                width: 20px;
                height: 20px;
                background: url(../img/icon-common.svg) no-repeat;
                background-position: -139px 0;
            }
            span:hover {
                position: absolute;
                top: 5px;
                right: 10px;
                width: 20px;
                height: 20px;
                background: url(../img/icon-common.svg) no-repeat;
                background-position: -159px 0;
            }
        }
    }
}

//尾部代码
#footer .footer_wrap {
    height: 410px;
}

#footer {
    min-width: 1200px;
    background-color: #f9f9f9;
    height: 410px;
    .up {
        display: flex;
        height: 40px;
        padding: 20px 0;
        li {
            width: 200px;
            margin-right: 120px;
            text-align: right;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            position: relative;
            a {
                color: #414141;
            }
            .one {
                @include style_foot(-74px, 0)
            }
            .two {
                @include style_foot(-114px, 0)
            }
            .three {
                @include style_foot(-154px, 0)
            }
            .four {
                @include style_foot(-194px, 0)
            }
        }
        .li_three {
            width: 176px;
        }
        .li_four {
            width: 240px;
        }
    }
    .up li:nth-last-of-type(1) {
        margin-right: 0;
    }
    .down {
        height: 160px;
        display: flex;
        overflow: hidden;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 24px 0;
        dl {
            margin-right: 60px;
            line-height: 22px;
            text-align: left;
            dt {
                font-size: 14px;
            }
            dd {
                color: #999;
                font-size: 12px;
            }
            dd:hover {
                color: #cf0a2c;
                cursor: pointer;
            }
        }
        span {
            display: inline-block;
            width: 1px;
            height: 150px;
            background-color: #ddd;
        }
        .right {
            text-align: center;
            margin-left: 100px;
            line-height: 35px;
            .phone {
                font-size: 24px;
                font-weight: bold;
                color: #414141;
            }
            a {
                width: 170px;
                height: 34px;
                background-color: #2e2828;
                display: block;
                border-radius: 17px;
                line-height: 34px;
                margin-left: 30px;
            }
            a:hover {
                background-color: #999;
            }
        }
    }
    .foot {
        display: flex;
        padding: 25px 0 0 28px;
        p img {
            width: 82px;
            height: 20px;
            margin-right: 20px;
        }
        span {
            line-height: 20px;
            font-size: 12px;
            color: #999;
            .p1 {
                color: #666;
            }
        }
    }
}