#banner {
    height: 550px;
    background: url(../img/banner1.jpg) no-repeat center;
    // span {
    //     display: block;
    //     height: 72px;
    //     background: url(../img/banner_1.png) no-repeat;
    // }
    .banner_inner {
        // width: 1200px;
        overflow: hidden;
        // margin: 0 auto;
        position: relative;
        height: 100%;
        .b_list {
            position: absolute;
            // top: 126px;
            // left: 350px;
            top: 20px;
            left: 0;
            width: 184px;
            height: 420px;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            li {
                height: 20px;
                padding: 10px 0 10px 16px;
                position: relative;
                overflow: hidden;
                color: #999;
                i {
                    float: right;
                    margin-right: 16px;
                }
                .l_list {
                    width: 516px;
                    height: 418px;
                    position: absolute;
                    top: 0;
                    left: 184px;
                    background: #fff;
                    z-index: 9999;
                    // display: none;
                    li {
                        height: 46px;
                        border-bottom: 1px solid #ccc;
                        img {
                            width: 36px;
                            height: 46px;
                        }
                    }
                }
            }
        }
    }
    .b_list li:hover {
        background-color: #fff;
        // display: block;
    }
}

#main {
    min-width: 1200px;
    .main_warp {
        border: 1px solid #fff;
        background-color: #fff;
        margin-top: 10px;
        display: flex;
        padding: 12px 0px 6px 14px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        margin-top: -64px;
        z-index: 999;
        position: relative;
        .login {
            height: 60px;
            display: flex;
            font-size: 14px;
            img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                margin-right: 16px;
                margin-left: 20px;
            }
            p {
                span {
                    display: block;
                    margin-top: 2px;
                    i {
                        color: #999;
                    }
                    margin-bottom: 8px;
                }
                a {
                    display: inline-block;
                    width: 68px;
                    height: 22px;
                    margin-right: 8px;
                    border-radius: 5px;
                    text-align: center;
                }
                .a1 {
                    border: 1px solid #cf0a2c;
                    color: #cf0a2c;
                }
                .a2 {
                    border: 1px solid #333;
                    background-color: #333;
                    color: #fde4b3;
                }
            }
        }
        .m_span {
            width: 1px;
            height: 60px;
            background-color: #eee;
            margin: 0 20px;
        }
        .m_list {
            display: flex;
            li {
                width: 84px;
                padding: 0 10px;
                // height: 64px;
                // background-color: rgba(0, 0, 0, 0.2);
                text-align: center;
                font-size: 12px;
                color: #999;
                a img {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin-left: 22px;
                    margin-bottom: 4px;
                }
            }
        }
        .public {
            border-left: 1px solid #ddd;
            padding: 0;
            p {
                color: #666;
                width: 270px;
                padding-left: 10px;
                margin-top: -2px;
            }
            i {
                display: block;
                width: 270px;
                height: 1px;
                background-color: #ddd;
                margin-top: 5px;
            }
            span {
                display: flex;
                font-size: 14px;
                a {
                    margin: 8px 14px;
                    img {
                        width: 20px;
                        height: 20px;
                        margin-top: -2px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    .main_1 {
        .new {
            margin-top: 20px;
            overflow: hidden;
            li {
                float: left;
                margin-right: 13px;
                a img {
                    width: 290px;
                    height: 200px;
                    border-radius: 10px;
                }
            }
            & li:nth-last-child(1) {
                margin-right: 0;
            }
        }
    }
    .main_2 {
        overflow: hidden;
        h2 {
            font-size: 26px;
            margin-top: 34px;
            margin-bottom: 8px;
        }
        .main2_wrap {
            display: flex;
            a {
                float: left;
                img {
                    width: 230px;
                    height: 592px;
                    border-radius: 10px;
                }
            }
            a:hover {
                box-shadow: 0px 8px 16px #eee;
            }
            .main2_list {
                display: flex;
                flex-wrap: wrap;
                width: 968px;
                li {
                    margin-left: 12px;
                    background-color: #f9f9f9;
                    width: 230px;
                    height: 290px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 26px;
                    color: #666;
                    border-radius: 10px;
                    margin-bottom: 12px;
                    img {
                        margin-top: 36px;
                        width: 150px;
                        height: 150px;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                    }
                    i {
                        color: #cf0a2c;
                    }
                }
                li:hover {
                    box-shadow: 0px 8px 16px #eee;
                }
            }
        }
    }
}