#banner {
    height: 550px;
    position: relative;
    .banner_list {
        width: 100%;
        height: 550px;
        position: absolute;
        top: 0;
        left: 0;
        .banner_first {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .banner_second {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .banner_inner {
        overflow: hidden;
        position: relative;
        height: 100%;
        .b_left {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            text-align: center;
            background-color: rgba(124, 116, 116, 0.1);
            position: absolute;
            color: white;
            top: 50%;
            left: 200px;
            margin-top: -32px;
            cursor: pointer;
            z-index: 99;
        }
        .b_left:hover,
        .b_right:hover {
            background-color: rgba(124, 116, 116, 0.3);
        }
        .b_right {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            color: white;
            text-align: center;
            background-color: rgba(124, 116, 116, 0.1);
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -32px;
            cursor: pointer;
            z-index: 99;
        }
        .b_list {
            position: absolute;
            top: 20px;
            left: 0;
            width: 184px;
            border-radius: 8px;
            background-color: #f8f8f8;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            li {
                height: 20px;
                padding: 10px 0 10px 16px;
                overflow: hidden;
                color: #999;
                i {
                    float: right;
                    margin-right: 16px;
                }
                .l_list {
                    width: 516px;
                    height: 374px;
                    position: absolute;
                    top: 0;
                    left: 184px;
                    background: #fff;
                    z-index: 9999;
                    padding: 13px 0;
                    display: none;
                    border-radius: 0 8px 8px 0;
                    box-shadow: 5px 5px 5px rgba(247, 239, 239, 0.2);
                    li {
                        width: 174px;
                        height: 46px;
                        font-size: 14px;
                        margin: 10px 20px;
                        border-radius: 10px;
                        float: left;
                        img {
                            width: 34px;
                            height: 46px;
                            margin-right: 10px;
                        }
                        a:hover {
                            color: #999;
                        }
                    }
                    li:hover {
                        background-color: #f9f9f9;
                    }
                }
            }
            li:hover .l_list {
                display: block;
            }
        }
    }
    .b_list li:hover {
        background-color: #fff;
    }
    .b_list li:nth-of-type(1):hover {
        border-radius: 8px 0 0 0;
    }
    .b_list li:nth-last-of-type(1) {
        border-radius: 0 0 0 8px;
    }
}

#main {
    min-width: 1200px;
    .main_warp {
        border: 1px solid #fff;
        background-color: #fff;
        margin-top: 10px;
        display: flex;
        padding: 12px 0px 6px 14px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        margin-top: -64px;
        z-index: 999;
        position: relative;
        .login {
            height: 60px;
            display: flex;
            font-size: 14px;
            img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                margin-right: 16px;
                margin-left: 20px;
            }
            p {
                span {
                    display: block;
                    margin-top: 2px;
                    i {
                        color: #999;
                    }
                    margin-bottom: 8px;
                }
                a {
                    display: inline-block;
                    width: 68px;
                    height: 22px;
                    margin-right: 8px;
                    border-radius: 5px;
                    text-align: center;
                }
                .a1 {
                    border: 1px solid #cf0a2c;
                    color: #cf0a2c;
                }
                .a2 {
                    border: 1px solid #333;
                    background-color: #333;
                    color: #fde4b3;
                }
            }
        }
        .m_span {
            width: 1px;
            height: 60px;
            background-color: #eee;
            margin: 0 20px;
        }
        .m_list {
            display: flex;
            li {
                width: 84px;
                padding: 0 10px;
                // height: 64px;
                // background-color: rgba(0, 0, 0, 0.2);
                text-align: center;
                font-size: 12px;
                color: #999;
                a img {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin-left: 22px;
                    margin-bottom: 4px;
                }
            }
        }
        .public {
            border-left: 1px solid #ddd;
            padding: 0;
            p {
                color: #666;
                width: 270px;
                padding-left: 10px;
                margin-top: -2px;
            }
            i {
                display: block;
                width: 270px;
                height: 1px;
                background-color: #ddd;
                margin-top: 5px;
            }
            span {
                display: flex;
                font-size: 12px;
                a {
                    margin: 8px;
                    img {
                        width: 20px;
                        height: 20px;
                        margin-top: -2px;
                        margin-right: 4px;
                    }
                }
                a:hover {
                    color: #cf0a2c;
                }
            }
        }
    }
    .main_1 {
        .new {
            margin-top: 20px;
            overflow: hidden;
            li {
                float: left;
                margin-right: 13px;
                a img {
                    width: 290px;
                    height: 200px;
                    border-radius: 10px;
                }
            }
            li:hover {
                box-shadow: 0px 8px 16px #eee;
            }
            & li:nth-last-child(1) {
                margin-right: 0;
            }
        }
    }
    .main_2 {
        overflow: hidden;
        h2 {
            font-size: 26px;
            margin-top: 34px;
            margin-bottom: 8px;
            position: relative;
            a {
                position: absolute;
                top: 4px;
                right: 6px;
                font-size: 16px;
                color: #333;
            }
            a:hover {
                color: #cf0a2c;
            }
        }
        .main2_wrap {
            display: flex;
            a {
                float: left;
                img {
                    width: 230px;
                    height: 592px;
                    border-radius: 10px;
                }
            }
            a:hover {
                box-shadow: 0px 8px 16px #eee;
            }
            .main2_list {
                display: flex;
                flex-wrap: wrap;
                width: 968px;
                li {
                    margin-left: 12px;
                    background-color: #f9f9f9;
                    width: 230px;
                    height: 290px;
                    text-align: center;
                    font-size: 14px;
                    line-height: 26px;
                    color: #666;
                    border-radius: 10px;
                    margin-bottom: 12px;
                    position: relative;
                    cursor: pointer;
                    .mlist_a {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    img {
                        margin-top: 36px;
                        width: 150px;
                        height: 150px;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                    }
                    i {
                        color: #cf0a2c;
                    }
                }
                li:hover {
                    box-shadow: 0px 8px 16px #eee;
                }
            }
        }
    }
}

@mixin navIcon($x, $y) {
    content: '';
    background: url('../img/icon-common.svg') no-repeat;
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    width: 14px;
    height: 14px;
    background-position: $x $y;
}

@mixin footerIcon($x,
$y) {
    content: '';
    background: url('../img/icon1.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 40px;
    background-position: $x $y;
}

.contact_list {
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 6px;
    box-shadow: 0 8px 16px #eee;
    li {
        width: 38px;
        height: 38px;
        background: white;
        position: relative;
        p {
            display: none;
            font-size: 12px;
            position: absolute;
            right: 45px;
            top: 0;
            height: 38px;
            line-height: 38px;
            width: 70px;
            background: white;
            text-align: center;
        }
    }
    .cart {
        padding-bottom: 0;
    }
    .cart i {
        @include navIcon(0,
        -75px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
        em {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #ca151e;
            color: white;
            font-size: 12px;
            text-align: center;
            line-height: 15px;
        }
    }
    .cart:hover i {
        @include navIcon(0,
        -37px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .cart:hover p {
        display: block;
    }
    .customer i {
        @include navIcon(-38px,
        -75px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .customer:hover i {
        @include navIcon(-38px,
        -37px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .customer:hover p {
        display: block;
    }
    .help i {
        @include navIcon(-76px,
        -75px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .help:hover i {
        @include navIcon(-76px,
        -37px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .help:hover p {
        display: block;
    }
    .back_top a {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .back_top i {
        @include navIcon(-114px,
        -75px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .back_top:hover i {
        @include navIcon(-114px,
        -37px);
        top: unset;
        right: unset;
        width: 38px;
        height: 38px;
    }
    .back_top:hover p {
        display: block;
    }
}